<div class="mb-3">
  <%= link_to '← Back to movie', movie_path(@movie), style: 'color:#aaa; text-decoration:none;' %>
</div>

<div class="card">
  <div class="card-header">✏️ Edit: <%= @movie.title %></div>
  <div class="card-body" style="padding: 2rem;">
    <%= render 'form', movie: @movie %>
  </div>
</div>
