<div class="mb-3">
  <%= link_to '← Back to all movies', movies_path, style: 'color:#aaa; text-decoration:none;' %>
</div>

<div class="card">
  <div class="card-header">🎬 Add a New Movie</div>
  <div class="card-body" style="padding: 2rem;">
    <%= render 'form', movie: @movie %>
  </div>
</div>
